parameters:
    level: max
    excludePaths:
        analyse:
            - tests/Unit/PHPStan/fixtures/*
    paths:
        - bin/qa
        - src
        - tests
    bootstrapFiles:
        - tests/bootstrap.php
    treatPhpDocTypesAsCertain: false
